<div class="bg-light py-3">
    <div class="container">
        <div class="row">

            <div class="col-md-12 mb-0"><a href="/">Trang chủ</a> <span class="mx-2 mb-0">/</span> <strong
                    class="text-black">{{title}}</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mb-5 mb-md-0">
                <h2 class="h3 mb-3 text-black">{{title}}</h2>
                <div class="p-3 p-lg-5 border">
                    <form method="POST">
                        <div class="form-group row">
                            <div class="col-sm">
                                <label for="email" class="text-black">Địa chỉ email</label>
                                <input type="text" value="{{user.email}}" disabled class="form-control" id="email"
                                    name="email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm">
                                <label for="name" class="text-black">Họ và tên</label>
                                <input type="text" value="{{user.name}}" class="form-control" id="name" name="name">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm">
                                <label for="address" class="text-black">Địa chỉ</label>
                                <input type="text" value="{{user.address}}" class="form-control" id="address"
                                    name="address" placeholder="Địa chỉ và tên đường">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="ward" class="text-black">Phường</label>
                                <input type="text" value="{{user.ward}}" class="form-control" id="ward" name="ward">
                            </div>
                            <div class="col-md-6">
                                <label for="district" class="text-black">Quận</label>
                                <input type="text" value="{{user.district}}" class="form-control" id="district"
                                    name="district">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm">
                                <label for="phone" class="text-black">Số điện thoại</label>
                                <input type="text" value="{{user.phone}}" class="form-control" id="phone" name="phone"
                                    placeholder="Điện thoại">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md">
                                <button type="submit" class="btn btn-primary btn-lg py-3 btn-block">Cập
                                    nhật</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>